h1{
  text-align: center;  
  color: blue;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: 900;
}
p{
    padding: 20px;
    text-align: justify;
    font-style: italic;
    font-size:larger
}
.paragraphe{
    background-color: burlywood;
    font-size: 30;
    font-style: normal;
    font: 900;
    letter-spacing: 5px;
    text-shadow: 2px 2px #001492;
}
body{
    background-color: chocolate;
}
div{
    border: 20px;
    background-color: aquamarine;
    padding: 20 px;
    width: 800px;
    margin: 30px;
}
.conteneur{
    display: flex;
    background-color: blue;
}