body{
    background-color: gray;
}
.container{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vh 2vh;;
    justify-content:  space-between;
    background-color: brown;
    align-items: center;

}

.square{
    height: 15vh;
    width: 15vh;
    background-color: black;
    color: aliceblue;
}
